.App {
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  margin-top: 3rem;
  width: 12rem;
  height: 3.5rem;
  border: none;
  border-radius: 10px;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #F72C25;
  color: whitesmoke;
}

.btn:hover {
  width: 12.5rem;
  height: 4rem;
}


.btn:active {
  width: 11.5rem;
  height: 3rem;
}
