body {
  background-color: #363a66;
  font-family: 'Patrick Hand', cursive;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
